* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
}

html::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5rem;
}

body {
  font-family: "Roboto", sans-serif;
  background: #010103;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5rem 7%;
  background: #010103;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  z-index: 1000;
}
.header__logo i {
  height: 6rem;
  font-size: 5.5rem;
  color: #d3ad7f;
}
.header__navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #fff;
  font-family: "Ga Maamli", sans-serif;
}
.header__navbar a:hover {
  padding-bottom: 0.5rem;
  color: #d3ad7f;
  border-bottom: 0.1rem solid #d3ad7f;
}
.header__icons div {
  margin-left: 2rem;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}
.header__icons div:hover {
  color: #d3ad7f;
}
.header__search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  display: flex;
  align-items: center;
  width: 50rem;
  height: 5rem;
  background: #fff;
  transform: scaleY(0);
  transform-origin: top;
}
.header__search-form input {
  padding: 1rem;
  margin-right: 0.5em;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #000;
  text-transform: none;
}
.header__search-form label {
  margin-right: 1.5rem;
  color: #000;
  font-size: 2.2rem;
  cursor: pointer;
}
.header__search-form label:hover {
  color: #d3ad7f;
}
.header__cart-container {
  position: absolute;
  top: 100%;
  right: -100%;
  padding: 0 1.5rem;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
}
.header__cart-container .cart-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2rem 1rem;
  gap: 1.5rem;
}
.header__cart-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  transition: font-size 0.5s;
}
.header__cart-container .cart-item .fa-times:hover {
  font-size: 2.5rem;
  color: #d3ad7f;
}
.header__cart-container .cart-item img {
  height: 7rem;
}
.header__cart-container .cart-item .content h3 {
  font-size: 2rem;
  color: rgb(41, 15, 0);
  padding-bottom: 0.5rem;
}
.header__cart-container .cart-item .content .price {
  font-size: 2rem;
  color: rgb(41, 15, 0);
  padding-bottom: 0.5rem;
}
.header__cart-container .btn {
  display: flex;
  justify-content: center;
  padding: 0.8rem 3rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.7rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #d3ad7f;
  cursor: pointer;
  transition: letter-spacing 0.5s;
}
.header__cart-container .btn a {
  font-weight: bold;
  text-align: center;
  color: rgb(41, 15, 0);
  text-decoration: none;
}
.header__cart-container .btn:hover {
  letter-spacing: 0.1rem;
}

#menu-btn {
  display: none;
}

@media (max-width: 992px) {
  html {
    font-size: 62.5%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header__navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 30rem;
    background: #fff;
  }
  .header__navbar a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    color: #000;
    font-size: 2rem;
  }
  .header__search-form {
    width: 90%;
    right: 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
.active {
  right: 0;
}

.active-search-form {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */