$first-color: rgb(254, 197, 27);
$first-color-altern: rgb(244, 183, 1);
$title-color: rgb(41, 15, 0);
$second-color: rgb(26, 10, 0);
$white-color: rgb(255, 246, 235);
$text-color: rgb(101, 76, 62);
$text-color-light: rgb(118, 98, 86);
$body-color: rgb(255, 237, 214);
$body-color-altern: rgb(255, 228, 194);
$container-color: rgb(255, 246, 235);
$shadow-small-img: dropshdow(0 4px 16px rgba(41, 15, 0, 0.2));
$shadow-big-img: drop-shadow(0 8px 24px rgba(41, 15, 0, 0.2));
